html {
  background-color: #343a40;
}

.title {
  font-family: 'Carter One';
}

.footer-container {
  width: 100%;
  margin-top: 50px;
}

.footer {
  height: 100px;
  color: white;
}

.footer p {
  margin-bottom: 0;
}
