* {
  font-family: 'Lato' !important;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper::after {
  content: '';
  display: table;
  clear: both;
}

.icon-group {
  margin: 4vw 0;
}

.awardimg {
  display: block;
  margin: 0 auto;
}

.font-main {
  color: #105182;
}

.footer-container {
  width: 100%;
  margin-top: 50px;
}

.footer {
  height: 100px;
  color: white;
}

.footer p {
  margin-bottom: 0;
}
