.logo {
  max-height: 100px;
}

.logo-wrap-mobile {
  display: none;
}

.banner-main {
  width:100%;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 15%;
  right: 0;
  float: right;
  width: 62%;
  color: #0f3350;
}

.banner-text p {
  color: black;
}

.banner-text h1 {
  font-weight: bold;
}

.banner-text h2 {
  font-size: 3.5vw;
}
.banner-text h1 {
  font-size: 4.5vw;
}
.banner-desc {
  font-size: 2vw;
}

.banner-desc {
  font-size: 1.15em
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0.32) 0%, rgba(255,255,255,0.65) 48%, rgba(255,255,255,1) 100%);
}

.banner-bg-opaque {
  display: none;
}


nav {
  position: fixed;
  width: 100%;
  height: 125px;
  padding: 10px 20px;
  transition: .3s ease all;
  opacity: .96;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
}

.menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style: none;
  background:  rgba(0,0,0,0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition:  1s;
  height: 100px;
  padding-top: 52px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #105182;
  font-size: 20px;
  transition: .3s ease all;
}

.scrolled {
  box-shadow: 0 3px 10px 2px rgba(0,0,0,.15);
  background: #FFF;
}


@media (max-width: 575px) {
  .banner-text {
    right: 6%;
    top: 10.5%;
    padding: 0 5%;
  }

  .logo-wrap-full {
    display: none;
  }

  .logo-wrap-mobile {
    display: block;
  }

  .menu {
    display: none;
  }

  .banner-text h2 {
    font-size: 4vw;
  }
  .banner-text h1 {
    font-size: 5vw;
  }
  .banner-desc {
    font-size: 2.5vw;
  }
}

@media(max-width: 400px) {
  .banner-text {
    right: 4%;
    top: 9%;
  }
}

@media(max-width: 625px) {
  .banner-text {
    width: 91%;
  }
  .banner-text button {
    width: 20vw;
    font-size: 2vw;
    height: 5vw;
    padding: 0%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner-text {
    right: 5%;
    top: 6%;
    width: 100%;
  }
}

@media(max-width: 767px) {
  .banner-bg {
    display: none;
  }
  .banner-bg-opaque {
    display: block;
  }
  .gradient-overlay {
    display: none;
  }

}

@media(min-width: 768px) and (max-width: 991px) {
  .banner-text {
    top: 13%;
  }

  .banner-text h1 {
    font-size: 34px;
  }

  .banner-text h2 {
    font-size: 30px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 991px) {
  .full-nav {
    display: none;
  }
}

@media(min-width: 1200px) {
  .banner-text button {
    padding: 10px 20px;
  }
  .banner-text {
    top: 20%;
  }
}
