.underline {
  text-decoration: underline;
}

[class*='col-'] {
  float: left;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

[class*='spacer'] {
  display: block;
  width: 100%;
}

.spacer15 {
  height: 25px;
}

.spacer25 {
  height: 25px;
}

.spacer35 {
  height: 35px;
}

.spacer50 {
  height: 50px;
}

.spacer75 {
  height: 75px;
}

.spacer100 {
  height: 100px;
}

.spacer300 {
  height: 300px;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center
}

.remove-padding {
  padding: 0 !important;
}

.pad-top10 {
  padding-top: 10px;
}

.pad-top50 {
  padding-top: 50px;
}

.border-radius5 {
  border-radius: 5px;
}

.scroll-anchor {
  position: relative;
  bottom: 100px;
  opacity: 0;
  height: 0;
  width: 0;
}
